export LXD_CLUSTER_PASSWORD=$(/mnt/c/Users/steve/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe read "op://klustered.us/klustered-lxd-password/password")
export LXD_CLUSTER_CI_CERT=$(/mnt/c/Users/steve/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe read "op://klustered.us/klustered-lxd-password/lxd.crt")
export LXD_CLUSTER_CI_KEY=$(/mnt/c/Users/steve/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe read "op://klustered.us/klustered-lxd-password/lxd.key")

export OP_SERVICE_ACCOUNT_TOKEN=$(/mnt/c/Users/steve/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe read "op://klustered.us/uaqvh6oi3efydillx4dc75cao4/credential")
export OP_SERVICE_ACCOUNT_TOKEN=$(/mnt/c/Users/steve/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe read "op://klustered.us/uaqvh6oi3efydillx4dc75cao4/credential")
export GITHUB_TOKEN=$(/mnt/c/Users/steve/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe read "op://klustered.us/GitHub Personal Access Token/token")
export CI_SSH_KEY=$(/mnt/c/Users/steve/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe read "op://klustered.us/ci-ssh-key/private-key")
export AWS_ACCESS_KEY_ID=$(/mnt/c/Users/steve/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe read "op://klustered.us/axsbnpsxo3473ionuge2unpaju/access-key")
export AWS_SECRET_ACCESS_KEY=$(/mnt/c/Users/steve/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe read "op://klustered.us/axsbnpsxo3473ionuge2unpaju/secret-access-key")