# Local Terraform directories
.terraform/
.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive credential files
.terraformrc
terraform.rc

# IDE-specific files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db


lxc-cluster-module/.terraform
lxc-cluster-module/.terraform/*
lxc-cluster-module/.terraform.lock.hcl
lxc-cluster-module/terraform.tfstate
lxc-cluster-module/terraform.tfstate.backup
/infrastructure/on-prem/infra/terragrunt/live/02-kubernetes/dev/02-configure-argocd/.terragrunt-cache/
/infrastructure/on-prem/infra/terragrunt/live/02-kubernetes/dev/02-configure-argocd/.terraform.lock.hcl
/infrastructure/on-prem/infra/terragrunt/live/02-kubernetes/dev/01-install-argocd/.terragrunt-cache/
/infrastructure/on-prem/infra/terragrunt/live/02-kubernetes/dev/01-install-argocd/.terraform.lock.hcl
