cluster:
  enabled: true
  server_name: {{ server_name }}
  server_address: {{ ansible_host }}:8443
  cluster_address: {{ bootstrap_address }}:8443
  cluster_certificate: "{{ cluster_certificate }}"
  cluster_password: {{ lxd_cluster_password }}
  member_config:
    - entity: storage-pool
      name: default
      key: source
      value: ""



