/.idea/
.idea
.tmp
.tmp/
infra/terragrunt/terraform/.terraform
infra/terragrunt/terraform/.terraform/*

infra/terragrunt/terraform/terraform.tfstate
infra/terragrunt/terraform/terraform.tfstate.backup
infra/terragrunt/terraform/.terraform.lock.hcl
infra/terragrunt/live/dev/remote_state_backend/.terragrunt-cache
infra/terragrunt/live/dev/remote_state_backend/.terraform.lock.hcl
infra/terragrunt/live/dev/*/.terragrunt-cache
infra/terragrunt/live/dev/*/.terraform.lock.hcl

infra/terragrunt/live/boot/*/.terragrunt-cache
infra/terragrunt/live/boot/*/.terraform.lock.hcl
infra/terragrunt/test/.terraform/*
infra/terragrunt/test/.terraform.lock.hcl

